<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
{% load base_extras %}
{% get_site_info as site_info %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fi" lang="fi">
<head>
	<title>{{page_title}}</title>
	<meta charset="UTF-8" />
	<meta name="keywords" content="{{ site_info.site_keywords }}" />
	<meta name="description" content="{{ site_info.site_description }}." />
	<link rel="stylesheet" type="text/css" href="{% static 'www/css/sirkkatyyli.css' %}" />
	<link rel="shortcut icon" type="image/png" href="{% static 'www/img/favicon.gif' %}" />
	{% block additional_css %}
	{% endblock additional_css %}
	{% block additional_js %}
	{% endblock additional_js %}
</head>
<body>
	<div id="vrapperi">
		<div id="paalaatikko">
			{% include "www/header.html" %}
			<div id="sisaltolaatikko">
				{% block content %} {% endblock %}
			</div>
		</div>
		{% include "www/footer.html" %}
	</div>
</body>
</html>