{% extends 'www/base.html' %}
{% block content %}
{% load staticfiles %}
<img src="{% static 'www/img/work/sotalapset_370y.jpg' %}" alt="Sirkka Pelkonen: Sotalapset" class="kuva" />
<div class="teksti">
    <h2>Näyttelyt</h2>
    Vuonna 2013<br /><br />

    <b>Helmen Pirtin taidenäyttelyn avajaisissa</b> lauantaina 8.6. klo 13-16 on esillä akvarelleja 'Autoiltiin sitä
    ennenkin'.<br /><br />

    Näyttelyyn on vapaa pääsy.<br /><br />

    Pitojen Helmi - Helmen Pirtti<br />
    Ketunmaantie 1, 91930 Ala-Temmes<br />
    Puhelin: 08-384 650, GSM: 0400-582 474<br />
    <a href="https://www.facebook.com/PitojenHelmiHelmenPirttiKy?ref=hl" class="underline">Web-sivu</a><br /><br />
</div>
{% endblock %}