{% extends 'www/base.html' %}
{% block content %}
{% load staticfiles %}
<img src="{% static 'www/img/work/helmikuunheleailta_370y.jpg' %}" alt="Sirkka Pelkonen: Helmikuun heleä ilta"
	class="kuva" />
<div class="teksti">
	<h2>Tervetuloa</h2>

	Olen oululainen kuvataiteilija. Maalaukseni syntyvät sisäisestä
	ilmaisun ja sanomisen tarpeesta, ja uteliaisuus on saanut minut
	kokeilemaan aina jotakin uutta. <br /><br /> 
	
	Työni ovat enimmäkseen akvarellitöitä, sillä akvarellimaalaus
	on lähinnä sydäntäni, mutta maalaan myös öljyväreillä. Kuvaan
	mielelläni realistisia aiheita, varsinkin vuosikymmeniä sitten ollutta
	elämää ja sota-ajan tapahtumia. Löydettyäni jonkun aiheen, saatan tehdä
	samantyylisiä töitä vaikka kymmeniä, jonka jälkeen siirryn
	täydellisesti erilaiseen tyyliin. Joskus vetelen öljyväritöihin viivoja
	ja annan mielikuvituksen lentää, jonka jälkeen tutkin maalausta ja
	mietin mikä aihe siitä syntyisi ja toteutan sen mitä mieleen tulee.
	Välillä maalaan abstraktista taidetta jossa vain taivas on rajana.
	Useista akvarellitöistäni teetän lisäksi kortteja.<br /><br />
</div>
{% endblock %}